<h1>{{ question.question }}</h1>
<h2>Click the Vote button to choose one</h2>

<table>
  <thead>
    <tr>
      <th>Option</th>
      <th>Current Count of Votes</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ question.q1 }}</td>
      <td>{{ question.q1vote }}</td>
      <td>
        <button (click)="vote(q1vote)">Vote</button>
      </td>
    </tr>
    <tr>
      <td>{{ question.q2 }}</td>
      <td>{{ question.q2vote }}</td>
      <td>
        <button (click)="vote(q2vote)">Vote</button>
      </td>
    </tr>
    <tr>
      <td>{{ question.q3 }}</td>
      <td>{{ question.q3vote }}</td>
      <td>
        <button (click)="vote(q3vote)">Vote</button>
      </td>
    </tr>
    <tr>
      <td>{{ question.q4 }}</td>
      <td>{{ question.q4vote }}</td>
      <td>
        <button (click)="vote(q4vote)">Vote</button>
      </td>
    </tr>
  </tbody>
</table>